<div class="navbar bg-base-300 rounded-b-box justify-between px-10 flex-wrap lg:flex-nowrap">
  <div class="flex w-full justify-between">
    <a href="/" class="text-2xl font-bold justify-self-start text-primary">DishDiscovery</a>
    <div class="lg:hidden">
      {% if request.user.is_authenticated %}
      {% include 'navbar/profile_dropdown.html' %}
      {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-small my-2">Login</a>
      {% endif %}
    </div>
  </div>
  <div class="flex gap-2 w-full lg:w-auto">
    <div class="form-control w-full lg:w-auto">
      <form action="{% url 'search' %}" method="GET">
        <input type="text" name="q" placeholder="Search" class="input input-bordered w-full md:w-auto" {% if query %}value="{{query}}"{% endif %}/>
      </form>
    </div>
    <div class="hidden lg:block">
      {% if request.user.is_authenticated %}
      {% include 'navbar/profile_dropdown.html' %}
      {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-ghost text-primary hover:bg-primary hover:text-base-200 btn-small">Login</a>
      {% endif %}
    </div>
  </div>
</div>
