<div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
      <div class="w-10 rounded-full ring ring-primary ring-offset-1">
        <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
      </div>
    </label>
    <ul tabindex="0" class="mt-3 p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 border-2 border-base-200">
      <li>
        <a class="justify-between">
          Profile
        </a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
</div>